body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(244, 244, 244);
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 66px;
    width: 100%;
    background-color: green;
}
.padding{
    height: 66px;
}